@using LoDCompanion.Services.Game

<h3>Toast</h3>

<div class="toast-message @ToastMessage.CssClass" style="@Style">
    @ToastMessage.Text
</div>

@code {
    [Parameter]
    public ToastMessage ToastMessage { get; set; } = new();

    [Parameter]
    public string Style { get; set; } = "";
}
