@inherits LayoutComponentBase
@using LoDCompanion.Services.Game
@using LoDCompanion.Services.Player
@using LoDCompanion.Components.Shared
@inject GameStateManagerService GameManager
@inject NavigationManager NavManager
@inject UIService UIService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-primary" @onclick="UIService.ShowInventoryAsync">Inventory</button>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<InventoryScreen />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GameManager.InitializeGameAsync();

            // Notify the rest of the UI that the state has been loaded
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task StartNewGame()
    {
        // This button click is guaranteed to be interactive.
        await GameManager.StartNewGameAsync();
        NavManager.NavigateTo("/character-creator", forceLoad: true);
    }
}